
<div class="top-menu">
  <div class="container-fluid">
    <br>
    <header>
    <nav class="navbar navbar-default">
      <a href="#" class="navbar-brand">System By Big Data BI AI TIC</a>
       <ul class="nav navbar-header">
         <li class="nav-item active"><a href="/inicio" class="nav-link">Inicio</a></li>
         <li class="nav-item"><a href="#" class="nav-link">Quienes somos</a></li>
         <li class="nav-item dropdown">
           <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">
             Servicios</a>
             <div class="dropdown-menu">   
              <a href="/recursohumano"  class="dropdown-item">Outsourcing de RRHH </a>    
              <a href="/gestionproyecto" class="dropdown-item">Gestiòn de Proyectos</a>
              <a href="/consultoriatic" class="dropdown-item">Consultoria TIC</a>
              <a href="/asegurarcalidad" class="dropdown-item">Asegurarmiento Calidad</a>
              <a href="/bigdata" class="dropdown-item">Big Data</a>
            </div>
         </li>
         <li class="nav-item"><a href="#" class="nav-link">Contacto</a></li>
       </ul>
    </nav>
  </header>
  </div>
  </div>
  
  <div class="page-content"></div>
  
  <router-outlet  ></router-outlet>
  
  
  
  
  
  <!--
  
  <div id="demo" class="carousel slide" data-ride="carousel">
  
  
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
  
  
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="http://lorempixel.com/700/400/" alt="Los Angeles">
      </div>
      <div class="carousel-item">
        <img src="http://lorempixel.com/700/400/city/2" alt="Chicago">
      </div>
      <div class="carousel-item">
        <img src="http://lorempixel.com/700/400/city/1" alt="New York">
      </div>
    </div>
  
    
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>
  -->
  