

    <div class="container-fluid">
        <br> 
        <div class="col-md-12">  
          <div id="carousel-1" class="carousel slide" >
            <ul class="carousel-indicators">
              <li data-target="#carousel-1"  data-slide-to="0" class="active" ></li>
              <li data-target="#carousel-1"  data-slide-to="1" ></li>
              <li data-target="#carousel-1"  data-slide-to="2"></li> 
            </ul> 
            <div class="carousel-inner">      
                <div class="carousel-item active">
                   <img src="assets/imagenes/th30.jpg" width="1200" height="400"  class="img-responsive" alt="">
                   
                </div>
                <div class="carousel-item" >
                  <img src="assets/imagenes/th31.jpg" width="1200" height="400" class="img-responsive" alt="">
                </div>
                <div class="carousel-item" >
                  <img src="assets/imagenes/th32.jpg" width="1200" height="400"  class="img-responsive" alt="">
                </div>
            </div>
              <a  class="carousel-control-prev"  href="#carousel-1" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="sr-only">Anterior</span>
              </a>
              <a  class="carousel-control-next"  href="#carousel-1" data-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="sr-only">Siguiente</span>
              </a>
          </div>
        </div>
      </div>
      
      <div class="container-fluid">
        <br><br>  
        <div class="col-md-12  text-center"><h1 class="text-primary">Qué Hacemos</h1>
          <br><br>  
        </div>
          <div class="main row" style="display: flex;flex-wrap: wrap;justify-content: center">
            <div class="col-md-4   text-center" style="border-radius:25px; background:rgb(186, 216, 240); padding: 20px; width:400px;height:400px;">
              <span class="icon">
                <img src="assets/imagenes/rrhh.png"          style="height:70px;max-width:200px;margin:30px;" alt="">
              </span> 
              <h4 class="text-primary"> Outsourcing de <br>Recursos Humanos</h4><br>
              <p>
                System By ofrece outsourcing y selección en la gama completa de profesionales 
                TI que requieren las empresas y organizaciones.
              </p>
              <br> 
                <h5 class="text-primary"><a href="/recursohumano"><ins> Ver màs informaciòn</ins></a></h5>  
            </div>
            <div class="col-md-4  text-center" style="border-radius:25px; 
                        background:rgb(186, 216, 240); 
                        box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
                        padding: 20px; 
                        width:400px;height:400px;">
              <span class="icon">
                <img src="assets/imagenes/proyectos.png" style="height:70px;max-width:200px;margin:30px;" alt="">
              </span>
              <h4 class="text-primary"> Gestiòn de<br> Proyectos</h4><br>
              
              <p>Una vez que el proyecto está bien preparado, se requiere planificarlo en forma detallada, para permitir hacer un seguimiento riguroso del mismo.</p>
              <br> 
                  <h5 class="text-primary"><a href="/gestionproyecto"><ins> Ver màs informaciòn</ins></a></h5>
            </div>
            <div class="col-md-4 text-center" style="border-radius:25px; background:rgb(186, 216, 240);padding: 20px; width:400px;height:400px;">
              <span class="icon">
                <img src="assets/imagenes/consultoria.png" style="height:70px;max-width:200px;margin:30px;" alt="">
              </span>
              <h4  class="text-primary">Consultoria<br> Tic</h4><br>
              <p>Partiendo de un enfoque único, los sistemas construidos totalmente a la medida, se basan en desarrollar desde el principio.</p>
              <br> 
                  <h5 class="text-primary"><a href="/consultoriatic"><ins> Ver màs informaciòn</ins></a></h5>
            </div>
          </div>
      
      
          <div class="row">
            <div class="col-md-1 text-center">  
              
              
            </div>
            <div class="col-md-5 text-center" 
                 style="border-radius:25px; background:rgb(186, 216, 240); padding: 20px; 
                        width:400px;height:450px;">
              <span class="icon">
                <img src="assets/imagenes/calidad.png" style="height:70px;max-width:200px;margin:30px;" alt="">
              </span>
              <h4 class="text-primary"> Asegurando la<br> Calidad</h4><br>  
              <p>El servicio comprende básicamente tres etapas: Estrategia, Elaboración de los casos de prueba, Ejecución y Documentación de la prueba.</p>
              <br>
                  <h5 class="text-primary">
                    <a href="/asegurarcalidad">
                      <ins> Ver màs informaciòn</ins>
                    </a>
                  </h5>  
            </div>
            <div class="col-md-5 text-center" 
                  style="border-radius:25px; background:rgb(186, 216, 240); padding: 20px; 
                         width:400px;height:450px;">
              <span class="icon">
                <img src="assets/imagenes/bigdata.png" style="height:70px;max-width:200px;margin:30px;" alt="">
              </span>
              <h4 class="text-primary">Servicio de<br> Big Data</h4><br>  
              <p>Desde la definición de la metodología y la estrategia más adecuada, hasta el desarrollo y despliegue de la solución técnica, ayudando a obtener los datos correctos en el momento correcto.</p>
              <br> 
                  <h5 class="text-primary">
                    <a href="/bigdata">
                      <ins> Ver màs informaciòn</ins>
                    </a>
                  </h5>
            </div>
            <div class="col-md-1 text-center">  
              
            </div>
          </div>
          <br>
          
        
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="assets/imagenes/th5.jpg" make-it-slow style="width:400px;height:250px;" class="img-fluid"  class="img-responsive img-rounded"><br>
              <img src="assets/imagenes/th11.jpg" style="width:400px;height:250px;" class="img-fluid"  class="img-responsive float-xs-right img-rounded">
            </div>
            <div class="col-md-4 text-center">  
              <img src="assets/imagenes/th14.jpg" style="width:400px;height:250px;" class="img-fluid" class="img-responsive img-rounded"><br>
              <img src="assets/imagenes/th22.jpg" style="width:400px;height:250px;" class="img-fluid" class="img-responsive float-xs-right img-rounded">
            </div>
            <div class="col-md-4 text-center">  
              <img src="assets/imagenes/th15.jpg" style="width:400px;height:250px;" class="img-fluid" class="img-responsive img-rounded"><br>
              <img src="assets/imagenes/th25.jpg" style="width:400px;height:250px;" class="img-fluid" class="img-responsive float-xs-right img-rounded" >
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-6 col-md-offset-2 text-left" 
                 style=" background:rgb(78, 136, 212); 
                         padding: 20px; 
                         width:400px;height:450px;">
  
              <h2  class="text-left" style=" color:rgb(255, 255, 255);">Nuestra Mision</h2><br>
              <ul style=" color:rgb(255, 255, 255);">
                <li>Nuestro propósito es establecer relaciones de confianza a largo plazo con nuestros clientes.</li>
                <li>Aportamos habilidades consolidadas en Gestión y Tecnología.</li>
                <li>Sustentada por una red de profesionales flexible, que nos permite ser competitivos.</li>
                <li>Búsqueda de soluciones con una orientación al cliente y resultado.</li>
              </ul>
              <br>
                <P class="text-right  style=background:#2E5A6A;">
                  <a href="" class="btn btn-primary btn-lg with-arrow">
                     SABER MAS SOBRE QUIENES SOMOS
                  </a>
                </P>            
              <br>
            </div>
            <div class="col-md-6 col-md-offset-2 text-right quienes_somos">
                <h2 style=" color:rgb(255, 255, 255);">Quienes Somos</h2><br>  
                <h6 style=" color:rgb(255, 255, 255);">
                  Somos una empresa Chilena con mas de 10 años de experiencia, 
                  apoyamos los procesos de negocio de nuestros clientes a través de la tecnología. 
                  Poseemos amplia experiencia con distintas plataformas tecnológicas, 
                  nos enfocamos principalmente en la solución del problema por sobre la herramienta.
                </h6>
                <br><br>
                <P class="text-right  text-primary">
                    <a href=""  class="btn   white btn-lg">
                      <small>SABER MAS SOBRE QUIENES SOMOS</small>
                    </a>
                </P>
                <br>          
                <br>
            </div>
          <div>
  
            <!--style=" background:rgb(63, 93, 117); 
            padding: 20px; 
            width:400px;height:450px;"-->
  
  
  
  
          <div class="container-fluid"> 
            <div class="row">
              <div class="col-md-3" 
              style=" background:rgb(53, 68, 80); 
              padding: 20px; 
              width:400px;height:350px;">  
                <h5 class="text-primary">System by Big Data BI AI TIC </h5><br>
                <h5 class="text-primary">Contacto: kayyser2002@yahoo.cl </h5>
              </div>
  
              <div class="col-md-3" 
              style=" background:rgb(53, 68, 80); 
              padding: 20px; 
              width:400px;height:350px;"> 
                    <p class="text-center" style="color:rgb(255, 255, 255);">Menú</p>
                    <ul class="sysvan-footer-links">
                        <li><a href="">Quiénes Somos</a></li>
                        <li><a href="">Servicios</a></li>
                        <li><a target="_blank" href="">Trabaja con nosotros</a></li>
                        <li><a href="">Contacto</a></li>
                    </ul>
              </div>
  
              <div class="col-md-3" 
              style=" background:rgb(53, 68, 80); 
              padding: 20px; 
              width:400px;height:350px;">
                    <p class="text-center" style="color:rgb(255, 255, 255);">Servicios</p>
                    <ul class="sysvan-footer-links">
                        <li><a href="">Outsourcing de RRHH</a></li>
                        <li><a href="">Gestión de Proyectos</a></li>
                        <li><a href="">Consultoría TI</a></li>
                        <li><a href="">Quality Assurance</a></li>
                    </ul>
              </div>
  
              <div class="col-md-3" 
              style=" background:rgb(53, 68, 80); 
              padding: 20px; 
              width:400px;height:350px;"> 
                  <a href="" class="btn-footer-contactanos">CONTACTO</a>   
              </div>
            </div>
          </div>
          <div class="gototop js-top">
            <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
          </div> 
          
      
  
  
  
          <footer>
            <div class="container-fluid"> 
              <div class="row">
                <div class="col-md-6" 
                style=" background:rgb(10, 19, 27); 
                padding: 20px; 
                width:400px;height:50px;">  
                  <h6 class="text-primary">&copy; System By Big Data BI AI TIC </h6>
                </div>
  
                <div class="col-md-6" 
                style=" background:rgb(10, 19, 27); 
                padding: 20px; 
                width:400px;height:50px;">  
                  <p class="text-right">Diseñado y Desarrollado por 
                    <a href="">Jesùs Maita Yañez</a>
                  </p>
                </div>
              </div>
            </div>
            </footer>
  
            
  
  
  
  
  
  
      
      
          
      
      </div>
           
    
      <!--
      
      <div id="demo" class="carousel slide" data-ride="carousel">
      
      
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
      
      
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="http://lorempixel.com/700/400/" alt="Los Angeles">
          </div>
          <div class="carousel-item">
            <img src="http://lorempixel.com/700/400/city/2" alt="Chicago">
          </div>
          <div class="carousel-item">
            <img src="http://lorempixel.com/700/400/city/1" alt="New York">
          </div>
        </div>
      
        
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      
      </div>
      
      
      -->
